/* =================================
------------------------------------
	Labs - Design Studio
	Version: 1.0
 ------------------------------------ 
 ====================================*/


/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/

/*------------------------
	Submission section
--------------------------*/
.w3l-heading  h3{
	text-align: center;
	color: #D28D0D;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 2px;
	margin-top: 25px;
}

.log{
	color:goldenrod;
	
}
.log1{
	color:rgb(105, 86, 35);
	
}
.log2{
	color:rgb(14, 180, 192);
	
}
 .submit_btn {
	
		font-family: "Oswald", sans-serif;
		font-size: 15px;
		color: #08323f;
		display: inline-block;
		text-transform: uppercase;
		
		padding: 15px 50px;
		font-weight: 500;
		letter-spacing: 1px;
		min-width: 170px;
		text-align: center;
		border: none;
		float: right;
	
 }
